body
{
    background-image: url("Ressources/mapmonde.jpg");
    background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat;
    background-size:cover;
    max-width: 100%;
	height: auto;
}

.vertical-center
{
	opacity: 0.9;
	margin-top: 25%;
  	height:100%;
  	width:100%;
  	text-align: center;
}